
.Card{
    width: 100%;
    margin: 0 2% !important;
}.welcome{
    background-color: rgb(231, 231, 231);
}

.image {
    width: 200px;
    margin-top: 5px;
   
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    
  }
  
  .space {
    margin: 0 0 !important;
  }
  
  
  
  @media only screen and (max-width: 770px) {
    .card {
      margin: 2% 0 !important;
    }
  }
  .right {
    text-align: center;
    flex-grow: 1;
    background-color: rgb(231, 231, 231);
  }
  .left {
    text-align: left;
  }
  .bullet {
    display: 'inline-block';
    margin: '0 2px';
    transform: 'scale(0.8)';
  }
  .title {
    font-size: 14;
  }
  
  .image {
    width: 300px;
    margin-top: 5px;
   
  }
  @media only screen and (max-width: 770px) {
    .image {
        width: 200px;
        margin-top: 5px;
    }
  }